.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

#grad {
  background-image: linear-gradient(to right, #f15fff , #0270ff , #1fffce);
  border: none;
  color: white;
}

.orbit {
  text-align: center;
  margin-top: 50px;
}

.gif {
  margin-top: 50px;
}


.hero-text{
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

h3, h4{
  text-align: center;
  margin-top: 80px;
}

.control {
  margin-top: 50px;
}

/* PRoducts */

.titles {
  text-align: left;
}

/* SupplierSelect */

#ss-button {
  background-color: #1fffce;
  color: white;
  margin-top: 30px;
}

.ss-graphic {
  margin-top: 20px;
  margin-left: 60px;
}

/* Cyber Risk */

#cr-button {
  background-color: #0270ff;
  color: white;
  margin-top: 30px;
}

.cr-graphic {
  margin-top: 0px;
  margin-left: 0px;
}

/* Market Flow */
#ms-button {
  background-color: #f15fff;
  color: white;
  margin-top: 30px;
}

.ms-graphic {
  margin-top: 50px;
  margin-right: 60px;
}

/* Container Demo */
.boxed {
  margin-top: 50px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #f15fff , #0270ff , #1fffce);
  color: white;
  text-align: center;
  font-size: 40px;
}

#demo-button {
  color: white;
  border: 1px solid white;
}

/* Testimonials */
.testimonials {
  margin-top: 50px;
}

/* Footer */
.footer {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

/* SupplierSelect */

/* Number Counter */
.counter-container {
  background-color: azure;
  margin-top: 50px;
  margin-bottom: 50px;
}

.counter {
  text-align: center;
}

.ss-list {
  font-size: 18px;
  list-style-position: inside;
}
